{% extends "base.html" %}
{% block content %}

<form method="POST">
    Cliente: <input type="text" name="cliente" required><br><br>

    Tipo:
    <select name="tipo">

        <option value="individual">Individual</option>
        <option value="duplo">Duplo</option>
        <option value="triplo">Triplo</option>
    </select><br><br>

    Proteína:
    <select name="proteina">
        <option value="carne">Carne</option>
        <option value="frango">Frango</option>
    </select><br><br>

    <input type="checkbox" name="refrigerante"> Refrigerante<br>
    <input type="checkbox" name="entrega"> Entrega<br><br>

    Origem:
    <select name="origem">
        <option>WhatsApp</option>
        <option>Quero Delivery</option>
    </select><br><br>

    Pagamento:
    <select name="pagamento">
        <option>Dinheiro</option>
        <option>Pix</option>
        <option>Cartão</option>
    </select><br><br>

    <button type="submit">Salvar Pedido</button>
</form>

{% endblock %}
